@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: whitesmoke;
}

h2{
  font-family: 'Inter', sans-serif;
  color: #333333;
  font-size: 1.5rem;
  font-size: 24px;
  font-weight: 500;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #B3E2A7; */
  background-color: white;
  padding: 10px;
  width: 100%;
  border-bottom: #333333;
}

header img {
  width: 40px;
  max-width: 20%;
  height: auto;
}

header h1 {
  font-size: 2rem;
  color: #333;
}

/* MAIN LAYOUT*/
.main-div {
  padding-top: 100px; 
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

/* COLOR PICKER SECTION*/
.left {
  text-align: center;
  min-width: 250px;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

#palette-options {
  margin-bottom: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
}

#color-picker {
  padding: 20px;
  margin-left: 4px;
  width: 245px; /* Fixed size */
  height: 245px; /* Fixed size */
}


/* MAIN CONTENT */
main {
  flex: 2 1 50%;
  min-width: 200px;
  padding: 15px;
}

#color-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

#color-input {
  padding: 10px;
  font-size: 0.8rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input-button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.input-button {
  padding: 8px;
  font-size: 0.8rem;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.input-button:hover {
  background-color: #0003b3;
}

#selected-color {
  margin-top: 30px;
  font-size: 0.8rem;
  font-weight: bold;
}

#color-preview, #selected-color-preview {
  margin-top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  vertical-align: middle;
  margin-right: 10px;
}

#color-container {
  padding: 10px;
  width: 100%; 
  height: 210px; 
  max-width: 100%; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box; 
}

/* SORTING ALGORITHM SECTION */
.algo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.sort-container {
  text-align: center;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 20px;
  gap: 10px;
  min-width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sort-container h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sort-container button {
  padding: 10px;
  margin: 5px 0;
  font-size: 1rem;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sort-container button:hover {
  background: #1e7e34;
}

.color-box {
  width: 6%; 
  height: 15vw; 
  max-height: 180px; 
  margin: 5px; 
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
  transition: transform 0.3s ease-in-out; 
}

.color-box.sorting {
  border: 1.3px solid yellow;
  box-shadow: 0 0 10px yellow;
}

.button-container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

.button-container button {
  background-color: #0c8ce9;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 3px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #0003b3;
}

/* MENU SECTION */
#menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 340px;
  height: 100%;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
  background-color: white;
  overflow-y: auto;
  display: none; 
}

#menuButton {
  position: fixed;
  top: 15px;
  right: 15px;
  background: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1001;
}

#menu::-webkit-scrollbar {
  width: 10px; 
  }
  
#menu::-webkit-scrollbar-thumb {
background-color:rgb(173, 172, 172);
border-radius: 21px; 
border: 2px solid rgba(255, 255, 255, 0.6); 
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
transition: background 0.3s ease, transform 0.2s ease; 
}

#menu::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #33a1a1, #66c2c2); 
  transform: scale(1.1);
  }

/*MY PALETTE SECTION*/
#saved-palettes-container {
  color: #004a99;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  max-height: 300px;
  height: 250px;
  overflow-y: auto;
  width: 100%;
}

.saved-palette {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent; 
  background: linear-gradient(to right, transparent, #33a1a1, transparent);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.saved-palette:last-child {
  border-bottom: none;
  background: none;
}

.saved-color-box {
  width: 30px;
  height: 70px;
}

.saved-palette button {
  cursor: pointer;
}

#saved-palettes-container::-webkit-scrollbar {
  width: 10px;
  }
  
#saved-palettes-container::-webkit-scrollbar-thumb {
background-color:rgb(173, 172, 172);
border-radius: 21px; 
border: 2px solid rgba(255, 255, 255, 0.6); 
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
transition: background 0.3s ease, transform 0.2s ease; 
}

#saved-palettes-container::-webkit-scrollbar-thumb:hover {
background: linear-gradient(135deg, #33a1a1, #66c2c2); 
transform: scale(1.1); 
}

#saved-palettes-container::-webkit-scrollbar-track {
background-color: rgba(194, 247, 247, 0.2); 
border-radius: 20px; 
box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#saved-palettes-container::-webkit-scrollbar-track:hover {
background-color: rgba(194, 247, 247, 0.4); 
}

.button-effects-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

button{
  color: rgb(66, 65, 65);
  background-color: rgb(209, 206, 206);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin-top: 5px;
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
  cursor: pointer;          
  text-align: center;        
  display: inline-block;     
  transition: all 0.3s ease; 
}

.button-effects:active {
  background-color: #3e8e41; 
  transform: translateY(1px); 
}

.button-effects:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5); 
}

.button-effects:disabled {
  background-color: #cccccc; 
  color: #666666;            
  cursor: not-allowed;       
  box-shadow: none;           
}

/*SORTING HISTORY SECTION*/
#sortingHistoryMenu {
  margin-top: 20px;
}

#historyContainer {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.8rem;
  align-items: center;
  overflow-y: auto;
  max-height: 300px;
}

#historyContainer::-webkit-scrollbar {
  width: 10px; 
}

#historyContainer::-webkit-scrollbar-thumb {
  background-color:rgb(173, 172, 172);
  border-radius: 20px; 
  border: 2px solid rgba(255, 255, 255, 0.6); 
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}

#historyContainer::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #33a1a1, #66c2c2); 
  transform: scale(1.1); 
}

#historyContainer::-webkit-scrollbar-track {
  background-color: rgba(194, 247, 247, 0.2); 
  border-radius: 20px; 
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1); 
}

#historyContainer::-webkit-scrollbar-track:hover {
  background-color: rgba(194, 247, 247, 0.4); 
}

.history-item {
  background-color: whitesmoke;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.7rem;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.history-item:hover {
  border-color: #d94c36;
  color: #0c8ce9;
  transform: translateY(-2px); 
}

.history-item .timestamp {
  font-size: 0.8rem;
  color: #888;
  margin-top: 5px;
}

#historyButton:hover {
  background-color: #d94c36;
}

.color-preview {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.clear-history-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.clear-history-button:hover {
  background-color: #d32f2f;
}

/* NOTIFICATION*/
#notification-container {
  position: fixed;
  margin-right: 60px; 
  top: 10px;
  right: 0;
  width: 250px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-out, fadeOut 0.3s ease-in 4s forwards;
}

.notification.info {
  background-color: #2196F3;
  color: white;
}

.notification.success {
  background-color: #4CAF50;
  color: white;
}

.notification.warning {
  background-color: #FFC107;
  color: black;
}

.notification.error {
  background-color: #F44336;
  color: white;
}

.notification .close-btn {
  background: none;
  border: none;
  color: inherit;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #f4ffff;
  color: #000000; 
  text-align: center;
  font-size: 14px;
  margin-top: 100px;
  border-top: 1px solid #ddd; 
}

#footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 50px;
}

#footer-content section {
  max-width: 100%;
  text-align: left;
}

#about-section, #credits-section {
  width: 25%;
}

#instructions-section {
  width: 30%;
}

#footer-content h3 {
  font-size: 30px;
  color: #333333; 
  margin-bottom: 10px;
}

#footer-content p, #footer-content ul {
  font-size: 15.5px;
  line-height: 1.8;
}

#footer-content ul {
  list-style-type: square;
  padding-left: 20px;
}

#footer-content ul li {
  margin-bottom: 5px;
}

#footer-content a {
  color: #007BFF;
  text-decoration: none;
}

#footer-content a:hover {
  text-decoration: underline;
}

#footer-bottom {
  border-top: 1px solid #ddd;
  padding: 10px;
  font-size: 1em;
  color: #555555; 
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
  .main-div {
      gap: 15px;
  }

  .left {
      flex: 1 1 30%;
  }

  main {
      flex: 1 1 60%;
  }

  .sort-container {
      flex: 1 1 30%;
  }
}

@media (max-width: 768px) {
  header h1 {
      font-size: 1.5rem;
  }

  .main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }

  .left {
      flex: 1 1 45%;
  }

  main {
      flex: 1 1 100%;
  }

  .sort-container {
      flex: 1 1 45%;
  }

  .color-picker-section {
    width: 500px;
  }

  #color-picker {
    margin-left: 25%;
  }

  #color-container {
    padding: 8px;
    max-width: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  }

  .color-box {
    width: 45px; 
    height: 150px; 
    margin: 2px; 
    font-size: 0.5rem; 
  }

  .color-box.sorting {
    box-shadow: 0 0 10px yellow; 
  }

  #notification-container {
    margin-left: 510px;
    right: 5px; 
    width: 25%; 
    margin-right: 0; 
    left: 5px;
    gap: 8px;
  }

  .notification {
    font-size: 0.6rem; 
    padding: 8px 10px; 
  }

  .notification .close-btn {
    font-size: 0.7rem; 
  }

  #footer-content {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    
  }

  #footer-content section {
    width: 100%;
    margin-bottom: 10px;
  }

  #footer-content h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  #footer-content p, #footer-content ul {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (max-width: 480px) {
  header img {
      width: 50px;
  }

  header h1 {
      font-size: 1.2rem;
  }

  .main-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
  }

  .left,
  .sort-container {
      flex: 1 1 100%;
      min-width: unset;
  }

  #color-input {
      font-size: 0.9rem;
  }

  #color-container {
    padding: 5px; 
    height: 300px;
  }

  .color-picker-section {
    width: 300px;
  }

  #color-picker {
    margin-left: 10%;
  }
  
  #color-container {
    padding: 5px;
    max-width: 100%; 
    height:140px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  }

  .color-box {
    width: 29px; 
    height: 120px;
    margin: 2px;
    font-size: 0.4rem; 
  }

  .color-box.sorting {
    box-shadow: 0 0 8px yellow; 
  }

  #notification-container {
    right: 0; 
    margin-left: 80px;
    left: 0; 
    width: 60%; 
    margin-right: 0; 
    gap: 6px; 
  }

  .notification {
    font-size: 0.5rem; 
    padding: 6px 8px; 
  }

  .notification .close-btn {
    font-size: 0.7rem; 
  }

  #footer-content {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    
  }

  #footer-content section {
    width: 100%;
    margin-bottom: 10px;
  }

  #footer-content h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  #footer-content p, #footer-content ul {
    font-size: 13px;
    line-height: 1.4;
  }
}

#saved-palettes-container {
  max-height: 300px; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.palette-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: border 0.3s ease;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.palette-item.selected {
  border-color: #007BFF;
}

.color-rect {
  width: 230px;
  height: 30px;
  margin: 2px 0;
  border-radius: 3px;
}

.action-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 5px;
}

.action-button {
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #007BFF;
  color: #fff;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3;
}

